body {
  background-color: #d7e0e0;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}
.league-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.league-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}
.league-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.league-table .col-1 {
  flex-basis: 20%;
  text-align: center;
}
.league-table .col-2 {
  flex-basis: 50%;
  text-align: center;
}
.league-table .col-3 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-4 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-5 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-6 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-7 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-8 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-9 {
  flex-basis: 25%;
  text-align: center;
}
.league-table .col-10 {
  flex-basis: 25%;
  text-align: center;
}
@media all and (max-width: 767px) {
  .league-table .table-header {
    display: none;
  }
  .league-table .table-row {
    text-align: center;
    justify-content: center;
  }
  .league-table li {
    display: block;
  }
  .league-table .col {
    flex-basis: 100%;
  }
  .league-table .col {
    display: flex;
    padding: 10px 0;
  }
  .league-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: center;
  }
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: #95a5a6;
  --color-tertiary: #95a5a6;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

* {
  box-sizing: border-box;
}

.sort {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

.sort button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(black);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.sort button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.sort button:hover,
.sort button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.sort button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.sort:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.sort button:active {
  transform: translateY(var(--border-size));
}
